/***** GoogleFont *****/
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300&family=Combo&family=Montserrat:wght@400;600;900&display=swap');

/***** Reseteando todo a cero *****/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

/***** BODY *****/
body {
    background: linear-gradient(125deg, black, rgb(81, 80, 80));
    color: white;

    width: 100vw;
    min-height: 100vh;
    /* LU: esto da height (para maqueteado) pero si se extiende el contenido (scroll), no pasa nada */
    overflow-x: hidden;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content auto max-content;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/***** HEADER *****/
.header {
    grid-area: header;
}

.index-ppal {
    width: 100vw;
}

/***** BARRA DE NAVEGACIÓN *****/

/* Nav */
nav {
    height: 5rem;
    min-height: 15px;
    width: 100vw;


    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;

    background: rgba(47, 46, 46, 0.442);
}

/* Logo */
.logo {
    width: 5rem;
    margin-right: 20px;
}

/* boton menu */
.bar-btn {
    font-size: 25px;
    color: white;
    margin-left: 20px;
    cursor: pointer;
}

.nav-menu {
    position: absolute;
    width: 17%;
    height: 0vh;
    top: 5rem;
    background-color: rgba(47, 46, 46, 0.748);
    /*Color del menu cuando se desplega*/
    text-align: center;
    transition: all .5s;
}

.nav-menu li {
    /* LU: Dependiendo de la altura de la pág, o sea del contenido, el menú llega a ser demasiado largo y sobrepasa al
    footer, por ej en las págs en construcción. Lo único que se me ocurre para arreglar eso es achicar letra y
    márgenes; y de paso usar medidas relativas */
    display: none;
    /* line-height: 30px; */
    line-height: 3.3rem;

    /* margin: 50px 0; */
    /* margin: 25% 0; */
    transition: all .5s;
}

.nav-menu li a {
    color: wheat;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active,
.nav-menu li a:hover {
    color: red;
    transition: .3s;
}

#check {
    display: none;
    /* Oculta el check */
}

#check:checked~.nav-menu {
    /* height: 100vh; */
    /* LU: me seguía pasando que dependiendo de la altura del viewport, el fondo del menú no cubría todo */
    height: min-content;
}

#check:checked~.nav-menu li {
    display: block;
}

/* Buqueda */
.buscar {
    display: flex;
}

.buscar input {
    width: 100%;
    height: 95%;
    font-size: 1.12rem;
    color: black;
    border: 1px solid silver;
    border-radius: 50px;
}

.busca-btn {
    color: white;
    font-size: 1.12rem;
    border-radius: 50%;
    cursor: pointer;
}

/* Carrito */
.carrito-btn {
    color: white;
    font-size: 20px;
}

/***** MAIN *****/
.main {
    grid-area: main;
}

/***** CARROUSEL *****/

.carrousel {
    width: 90%;
    max-width: 120em;

    margin: auto;
    transition: all 0.4s ease;

    overflow: hidden;
}

.carrousel .grande {
    width: 300%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    transition: all 0.4s ease;
    padding: 1.5em;
}

.carrousel .img {
    width: calc(100% / 3 - 1.5em);
    min-height: 15vh;
}

.carrousel .puntos {
    width: 100%;
    padding: 0.4em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrousel .punto {
    width: 1em;
    height: 1em;
    margin: 0 1em;
    color: black;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: gray;
}

.carrousel .punto.activo {
    background-color: rgb(206, 206, 206);
}

/***** CATEGORIAS *****/

.cat {
    width: 100vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cat a {
    text-decoration: none;
    color: transparent;
}

.wrap {
    /* width: 20%; */
    margin: 2rem;
    cursor: pointer;
}

.container {
    width: 15rem;
    height: 20rem;
    border: 1px solid white;
    border: 1px solid;
    border-radius: 1.6rem;
    padding: 2rem;

    display: flex;
    align-items: flex-end;
    /*Alinea nombre del recuadro*/
    position: relative;


    filter: opacity(65%);
}

.container::before,
.container::after {
    content: "";

    width: 2rem;
    height: 2rem;
    border: 1px solid rgb(63, 63, 63);

    position: absolute;
    z-index: 2;

    /* opacity: 0.5; */
    transition: .8s;
}

.container::before {
    top: 1rem;
    right: 1rem;

    border-bottom-width: 0;
    border-left-width: 0;

}

.container::after {
    bottom: 1rem;
    left: 1rem;

    border-top-width: 0;
    border-right-width: 0;

}

.container:hover {
    filter: opacity(100%);
}

.container--1 {
    background: url("https://d3ugyf2ht6aenh.cloudfront.net/stores/001/053/068/products/img_00451-4e93884dba731428d516560065578173-1024-1024.jpg");
    background-position: 40% 10%;
    background-size: 120%;
}

.container--2 {
    background: url("https://cdn.fashiola.mx/L571748422/rag-bone-pantalon-alex-en-color-baby-blue-talla-23-en-baby-blue-talla-23-tambien-en-24-25-26-27-28-29-30.jpg");
    background-position: 40% 10%;
    background-size: 100%;
}

.container--3 {
    background: url("https://static.massimodutti.net/3/photos/2022/V/0/1/p/5213/819/712/5213819712_2_6_16.jpg");
    background-position: 40% 10%;
    background-size: 100%;
}

.container--4 {
    background: url("https://1.bp.blogspot.com/-0pHoG2gCzp8/VoJUQL3bC8I/AAAAAAAAHPU/TznlkY7Dkh8/s640/tJryk4IpNv.png");
    background-position: 40% 10%;
    background-size: 120%;
}


.container p {
    color: rgb(72, 72, 72);
    background-color: rgba(255, 255, 255, 0.625);
    font-size: 2.2rem;
}

.wrap:hover .container::before,
.wrap:hover .container::after {
    width: calc(100% - 2rem);
    /*Calc tener en cuenta para responsive */
    height: calc(100% - 2rem);
    /*Es 100%-2 por los 2 (1+1) q saco tanto en el after como el before*/

}


/***** FOOTER *****/
.footer {
    grid-area: footer;
    background-color: rgb(190, 189, 189, 0.5);
    /* margin-top: 2%; */
    font-size: 0.8rem;
    padding: 0.5% 3%;
    text-align: center;
}


@media (max-width:768px) {
    body {
        background-color: aliceblue;
    }

    .main {
        background-color: aliceblue;
    }

    /* LU: me parece mejor aplicarlo así */
    /* nav */
    .header {
        background: rgba(132, 131, 131, 0.442);
    }

    .nav-menu {
        width: 50%;
    }
}

@media (max-width:415px) {
    /* LU: ya le queda del otro media query */
    /* body {
        background-color: aliceblue;
    } */

    /* .main {
        background-color: aliceblue;
    } */

    /* nav {
        background: rgba(132, 131, 131, 0.442);
    } */

    .nav-menu {
        width: 100%;
    }

    .carrito-btn {
        visibility: hidden;
    }

    .footer {
        font-size: 0.6rem;
    }
}