/* CONTACTO */
.contacto {
    display: grid;
    grid-template-areas:
      "titulo titulo titulo titulo"
      ". form form ."
      ". map map .";
  }
  .contacto-titulo {
    margin: 2%;
    grid-area: titulo;
    text-align: center;
  }
  .form {
    grid-area: form;
  }
  .form-group {
    display: flex;
    justify-content: space-evenly;
  }
  .form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
  }
  .form-item-center {
    width: 70%;
    margin: auto;
    margin-bottom: 5%;
  }
  .form-label {
    margin-bottom: 3%;
  }
  .form input {
    color: #fff;
    background: none;
    border: none;
    border-bottom: 1px white solid;
  }
  #caja-consulta {
    color: #fff;
    background: none;
    border: 5px white dotted;
    border-radius: 10%;
  }
  #boton-contacto {
    background-color: rgb(190, 189, 189,0.3);
    border: 0;
    width: 30%;
    margin: auto;
  }
  #boton-contacto:hover {
    background-color: rgb(190, 189, 189);
    cursor: pointer;
  }
  .map {
    grid-area: map;
    width: 100%;
    /* width="400" en el html q me dio gmaps */
  }