/* GoogleFont */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300&family=Combo&family=Montserrat:wght@400;600;900&display=swap');

/* Reseteando todo a cero */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Montserrat, sans-serfi;
  color: white;
  width: 100vw;
  background: linear-gradient(125deg, black, rgb(81, 80, 80));
}

/* Barra navegación */
/* Nav */
nav {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(47, 46, 46, 0.442);
}

/* Logo */
.logo {
  width: 80px;
  margin-right: 20px;
}

/* boton menu */
.bar-btn {
  font-size: 25px;
  color: white;
  margin-left: 20px;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  width: 17%;
  height: 0vh;
  top: 80px;
  background-color: rgba(47, 46, 46, 0.442);
  /*Color del menu cuando se desplega*/
  text-align: center;
  transition: all .5s;
}

.nav-menu li {
  display: none;
  line-height: 30px;
  margin: 50px 0;
  transition: all .5s;
}

.nav-menu li a {
  color: wheat;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-menu li a.active,
.nav-menu li a:hover {
  color: red;
  transition: .3s;
}

#check {
  display: none;
  /* Oculta el check */
}

#check:checked~.nav-menu {
  height: 100vh;
}

#check:checked~.nav-menu li {
  display: block;
}

/* Buqueda */
.buscar {
  display: flex;
}

.buscar input {
  width: 100%;
  height: 95%;
  font-size: 18px;
  color: black;
  border: 1px solid silver;
  border-radius: 50px;
}

.busca-btn {
  color: white;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
}

/* Carrito */
.carrito-btn {
  color: white;
  font-size: 20px;
}

/*Carrousel del index*/
#contenedor_carr {
  height: 200px;
  width: 1000px;
  margin: auto;
  overflow: hidden;
}

.itemCarrousel {
  height: 100%;
  position: relative;
}

.tarjeta-carr {
  background-color: gray;
  height: 100%;
}

.flechas-carr {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

/* Puntitos de abajo del carrousel */
#puntitos {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#puntitos a {
  margin-right: 20px;
  color: rgba(165, 165, 165, 0.27);
}

/* Categorias */

.categorias
{
  grid-area: categorias;
}
.cat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wrap {
  margin: 2rem;
  /* transform-style: preserve-3d; */
  /* transform: perspective(100rem); */
  cursor: pointer;
}

.container {
  /* --rX: 0;
  --rY: 0; */
  /* --bX: 40%;
  --bY: 10%; */

  width: 20rem;
  height: 30rem;
  border: 1px solid white;
  border: 1px solid;
  border-radius: 1.6rem;
  padding: 2rem;

  display: flex;
  align-items: flex-end;  /*Alinea nombre del recuadro*/
  position: relative;
  /* transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg)); */
  /* transition: transform .6s 1s; */

  filter:opacity(65%);
}

.container::before,
.container::after {
  content: "";
  
  width: 2rem;
  height: 2rem;
  border: 1px solid rgb(63, 63, 63);
  
  position: absolute;
  z-index: 2;
  
  /* opacity: 0.5; */
  transition: .8s;
}

.container::before {
  top: 1rem;
  right: 1rem;
  
  border-bottom-width: 0;
  border-left-width: 0;

}

.container::after {
  bottom: 1rem;
  left: 1rem;
  
  border-top-width: 0;
  border-right-width: 0;

}

/* .container--active {
    transition: none; 
} */

.container:hover{
  filter: opacity(100%);
}
.container--1
{
  background:url("https://d3ugyf2ht6aenh.cloudfront.net/stores/001/053/068/products/img_00451-4e93884dba731428d516560065578173-1024-1024.jpg");
  /* background-position: var(--bX) var(--bY); */
  background-position: 40% 10%;
  background-size: 120%;
}

.container--2{
  background:url("https://cdn.fashiola.mx/L571748422/rag-bone-pantalon-alex-en-color-baby-blue-talla-23-en-baby-blue-talla-23-tambien-en-24-25-26-27-28-29-30.jpg");
  /* background-position: var(--bX) var(--bY);   */
  background-position: 40% 10%;
  background-size: 100%;
}

.container p {
  color: rgb(72, 72, 72);
  background-color: rgba(255, 255, 255, 0.625);
  font-size: 2.2rem;
}

.wrap:hover .container::before,
.wrap:hover .container::after {
  width: calc(100% - 2rem);
  /*Calc tener en cuenta para responsive */
  height: calc(100% - 2rem);   /*Es 100%-2 por los 2 (1+1) q saco tanto en el after como el before*/

}

/* CONTACTO */
.contacto {
  /* Need a font, and make it bigger */
  /* height: 100%; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  display: grid;
  grid-template-areas:
    "titulo titulo titulo titulo"
    ". form form ."
    ". map map .";
}

.contacto-titulo {
  margin: 2%;
  grid-area: titulo;
  text-align: center;
}

.form {
  grid-area: form;
}

.form-group {
  display: flex;
  justify-content: space-evenly;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.form-item-center {
  width: 70%;
  margin: auto;
  margin-bottom: 5%;
}

.form-label {
  margin-bottom: 3%;
}

/* #boton-contacto {
  margin-top: 5%;
} */

.map {
  grid-area: map;
  width: 100%;
  /* width="400" en el html q me dio gmaps */
}

/* FOOTER */
.footer {
  background-color: rgb(190, 189, 189, 0.5);
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  width: 100%;
  /* antes del position no hacía falta */
  margin-top: 2%;
}

/* Media Query para distintas medidas */
@media (max-width: 600px) {
  .carrito {
    display: none;
  }
}