/* CONTACTO */
.contacto {
    display: grid;
    grid-template-areas:
        "titulo titulo titulo titulo"
        ". form form ."
        ". map map .";

    padding-bottom: 2%;
}

.contacto-titulo {
    margin: 2%;
    grid-area: titulo;
    text-align: center;
    font-size: 1.7rem;
}

.form {
    grid-area: form;
}

.form-group {
    display: flex;
    justify-content: space-evenly;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.form-item-center {
    width: 70%;
    margin: auto;
    margin-bottom: 5%;
}

.form-label {
    margin-bottom: 3%;
}

.form input {
    color: #fff;
    background: none;
    border: none;
    border-bottom: 1px white solid;
}

#caja-consulta {
    color: #fff;
    background: none;
    border: 5px white dotted;
    border-radius: 10%;
}

#boton-contacto {
    background-color: rgb(190, 189, 189, 0.3);
    border: 0;
    width: 30%;
    margin: auto;
}

#boton-contacto:hover {
    background-color: rgb(190, 189, 189);
    cursor: pointer;
}

.map {
    grid-area: map;
    width: 100%;
    /* width="400" en el html q me dio gmaps */
}


/* Cita de MDN: Media types define the broad category of device for which the media query applies: 
all, print, screen. The type is optional (assumed to be all) except when using the not or only logical operators. */

@media only screen and (min-width: 769px) {
    form input:focus-visible {
        /* Cambia el tamaño de las cosas al hacer focus pero no por el extra borde, siendo que está box-sizing en 
        todo el doc; debe venir de flex y/o márgenes responsivos */
        /* En Mozilla por default aparece un outline blanco y azul */
        outline: white solid 1px;
        border: none;
    }

    /* Código que tuve que sacar de internet para que el autofill no me ponga fondo blanco y letra negra */
    form input:-webkit-autofill,
    form input:-webkit-autofill:hover,
    form input:-webkit-autofill:focus,
    form input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s !important;
        -webkit-text-fill-color: white !important;
    }

    #caja-consulta:focus-visible {
        outline: white solid 2px;
    }
}

/*Para dispositivos medianos ej. Tablets*/
@media only screen and (max-width: 768px) {
    .contacto {
        color: rgb(72, 72, 72);
    }

    .contacto-titulo {
        font-size: 1.5rem;
    }

    .form-item-left {
        margin-right: 1%;
    }

    .form input {
        color: rgb(72, 72, 72);
        border-bottom: 1px rgb(72, 72, 72) solid;
    }

    form input:focus-visible {
        outline: black solid 1px;
        border: none;
    }

    form input:-webkit-autofill,
    form input:-webkit-autofill:hover,
    form input:-webkit-autofill:focus,
    form input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s !important;
    }

    #caja-consulta {
        color: rgb(72, 72, 72);
        border: 5px rgb(72, 72, 72) dotted;
    }

    #caja-consulta:focus-visible {
        outline: black solid 2px;
    }
}

#boton-contacto {
    background-color: rgb(72, 72, 72);
    color: white;
}

/*Para dispositivos pequeños ej. celus*/
@media only screen and (max-width: 415px) {
    .contacto {
        padding-bottom: 4%;
    }

    .contacto-titulo {
        font-size: 1.3rem;
    }

    .form {
        font-size: 0.9rem;
    }

    .form-group {
        flex-direction: column;
        width: 50%;
        margin: auto;
    }

    .form-item-center {
        width: 75%;
    }

    .map {
        height: auto;
    }
}