/* GoogleFont */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300&family=Combo&family=Montserrat:wght@400;600;900&display=swap');

/* Reseteando todo a cero */
*
{
  margin:0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/* Body */
body
{
  font-family: Montserrat, sans-serfi;
  color: white;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(125deg, black,rgb(81, 80, 80));
}

/* Barra navegación */
/* Nav */
nav{
    height: 95px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(47, 46, 46, 0.442);
}
/* Logo */
.logo
{
    width: 90px;
    margin-right: 20px;
}
/* boton menu */
.bar-btn
{
    font-size: 25px;
    color:white;
    margin-left:20px;
    cursor: pointer;
}

.nav-menu   
{
    position: fixed;
    width: 30%;
    height: 0vh;
    top: 100px;
    background-color:  rgba(47, 46, 46, 0.442);  /*Color del menu cuando se desplega*/
    text-align: center;
    transition: all .5s;
}

.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a{
    color:wheat;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover
{
    color:red;  
    transition: .3s;
}

#check
{
    display: none;  /* Oculta el check */
}

#check:checked ~ .nav-menu
{
    height: 100vh;
}
#check:checked ~ .nav-menu li
{
    display:block;
}

/* Buqueda */
.buscar
{
  display:flex;
}

.buscar input
{
  width: 100%;
  height: 95%;
  font-size: 18px;
  color:black;
  border: 1px solid silver;
  border-radius: 50px;
}

.busca-btn
{
  color: white;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
}

/* Carrito */
.carrito-btn
{
  color: white;
  font-size: 20px;
}


/* Media Query para distintas medidas */
@media (max-width: 600px)
{
  .carrito
  {
    display:none;
  }
}


/* Cambiar */
/* @keyframes cambiar
{
  0%{background-position: 0% 50%;}
  50%{background-position: 100% 50%;}
  100%{background-position: 0% 50%;}  
} */

/* CONTACTO */
.contacto {
  /* Need a font, and make it bigger */
  /* height: 100%; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  display: grid;
  grid-template-areas: 
    "titulo titulo titulo titulo"
    ". form form ."
    ". map map .";
}

.contacto-titulo {
  margin: 2%;
  grid-area: titulo;
  text-align: center;
}

.form {
  grid-area: form;
}

.form-group {
  display: flex;
  justify-content: space-evenly;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.form-item-center {
  width: 70%;
  margin: auto;
  margin-bottom: 5%;
}

.form-label {
  margin-bottom: 3%;
}

/* #boton-contacto {
  margin-top: 5%;
} */

.map {
  grid-area: map;
  width: 100%; /* width="400" en el html q me dio gmaps */
}

/* FOOTER */
.footer {
  background-color: rgb(190, 189, 189,0.5);
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  width: 100%; /* antes del position no hacía falta */
  margin-top: 2%;
}